<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SAT - DTE</title>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <header class="header">
        <nav class="nav">
          <img src="..\static\images\LOGOSAT.png" alt="logo" class="img-logo">
          <ul class="nav-menu" >
            <li>
               <div class="input-file-container">  
                  <input class="input-file" type="file" name="document" id="document">
                  <label tabindex="0" for="my-file" class="input-file-trigger">Cargar Archivo</label>
                </div>
            </li>
            <li class="nav-menu-item">
              <a href="peticiones" class="nav-menu-link nav-link">Peticiones</a>
            </li>
            <li>
                <div class="dropdown show" id="menu-des">
                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Ayuda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" id="menu-item">Documentación</a>
                      <a class="dropdown-item" href="#" id="menu-item">Contacto</a>
                    </div>
                </div>
            </li>
          </ul>
        </nav>
      </header>

      <div class="grid">
            <div class="div-buttons"> 
                <input class="btn btn-primary" type="submit" value="Enviar" id="send">
                <input class="btn btn-primary" id="reset" type="button" value="Reset" onclick="ELIMINAR()">
                
            </div>
            <div class="nested-grid">
                <div class="div-text">
                    <h3>Entrada</h3><div id="global">
                      <div id="mensajes">
                        {% if data.ENTRADA == "Ingrese un archivo de entrada" %}
                          <p class="texto">{{ data.ENTRADA }}</p>
                        {% else %}
                          {% for c in data.ENTRADA %}
                            <p class="texto">{{ c }}</p>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                </div>
                <div class="div-text">
                    <h3>Salida</h3>
                    <div id="global">
                      <div id="mensajes">
                        {% if data.SALIDA == "Esperando..." %}
                          <p class="texto">{{ data.SALIDA }}</p>
                        {% else %}
                          {% for c in data.SALIDA %}
                            <p class="texto">{{ c }}</p>
                          {% endfor %}
                        {% endif %} 
                      </div>
                    </div>
                </div>
            </div>
      </div>

    </form>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="..\static\js\confirm.js"></script>
      <script src="..\static\js\eliminar.js"></script>
</body>
</html>