<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style-peticiones.css">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Peticiones</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
          <img src="..\static\images\LOGOSAT.png" alt="logo" class="img-logo">
          <ul class="nav-menu" >
            <li class="nav-menu-item">
                <a href="/" class="nav-menu-link nav-link">Inicio</a>
              </li>
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Peticiones</a>
            </li>
            <li>
                <div class="dropdown show" id="menu-des">
                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Ayuda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" id="menu-item">Documentación</a>
                      <a class="dropdown-item" href="#" id="menu-item">Contacto</a>
                    </div>
                </div>
            </li>
          </ul>
        </nav>
      </header>




    <div class="wrap">
		<ul class="tabs">
			<li><a href="#tab1"><span class="fa fa-table"></span><span class="tab-text">Consultar Datos</span></a></li>
			<li><a href="#tab2"><span class="fa fa-calendar-day"></span><span class="tab-text">Rango de Fechas</span></a></li>
			<li><a href="#tab3"><span class="fa fa-calendar-alt"></span><span class="tab-text">Fecha y Nit</span></a></li>
		</ul>

		<div class="secciones">
			<article id="tab1">
				<h2>Autorizaciones</h2>
				<div id="main-container">
                    <table>
                        <thead>
                            <tr>
                                <th style="border-top-left-radius: 20px;">Fecha</th>
                                <th>Ref</th>
                                <th>Nit Emisor</th>
                                <th>Nit Receptor</th>
                                <th>Valor</th>
                                <th>IVA</th>
                                <th>Total</th>
                                <th style="border-top-right-radius: 20px;">No. Aprobacion</th>
                            </tr>
                        </thead>
                        
                        {% if data.MENSAJE == "No hay autorizaciones disponibles" %}
                            <tr><td colspan="8">{{ data.ENTRADA }}</td></tr>
                        {% else %}
                          {% for c in data%}
                            <tr>
                                <td>{{c.FECHA}}</td>
                                <td>{{c.REF}}</td>
                                <td>{{c.EMISOR}}</td>
                                <td>{{c.RECEPTOR}}</td>
                                <td>{{c.VALOR}}</td>
                                <td>{{c.IVA}}</td>
                                <td>{{c.TOTAL}}</td>
                                <td>{{c.CODIGO}}</td>
                            </tr>
                          {% endfor %}
                        {% endif %}    
                    </table>
                </div>
			</article>
			<article id="tab2">
				<h3>Filtrar por Rango de Fechas</h3>
        <div id="form-param">
          <form>
            {% csrf_token %}
            <div class="container-date">
              <div>
                <h6>Fecha Inicio</h6>
                <input type="date" id="inicio">
              </div>
              <div>
                <h6>Fecha Final</h6>
                <input type="date" id="fin">
              </div>
            </div>
          </form>
          <div class="container-button">
            <button class="btn btn-primary" id="filtrar" onclick="range_date()"><span class="fa fa-filter"></span> Filtrar</button>
          </div>
        </div>
        
        <div class="wrap2">
          <ul class="tabs2">
            <li><a href="#tab11"><span class="fa fa-money-bill"></span><span class="tab-text">Ver Totales</span></a></li>
            <li id="litab22"><a href="#tab22"><span class="fa fa-credit-card"></span><span class="tab-text">Ver Sin IVA</span></a></li>
            <button class="btn btn-primary" id="pdf" onclick="exportarpdf()"><span class="fa fa-file-download"></span> PDF</button>
          </ul>

          <div class="secciones2" id="rango">
            <article id="tab11">
              <div id="main-container" style="margin-top: 0; width: 100%;" >
                <table id="total-table">
                    <thead>
                        <tr>
                            <th style="border-top-left-radius: 20px;">Fecha</th>
                            <th>Ref</th>
                            <th>Total</th>
                            <th style="border-top-right-radius: 20px;">No. Aprobacion</th>
                        </tr>
                    </thead>
                    <tbody id="totales">
  
                    </tbody>
                </table>
             </div>
             <div id="grafico" style="width: 670px; margin-top: 2em;"></div>
            </article>
            <article id="tab22">
              <div id="main-container" style="margin-top: 0; width: 100%;" >
                <table id="iva-table">
                    <thead>
                        <tr>
                            <th style="border-top-left-radius: 20px;">Fecha</th>
                            <th>Ref</th>
                            <th>Valor</th>
                            <th style="border-top-right-radius: 20px;">No. Aprobacion</th>
                        </tr>
                    </thead>
                    <tbody id="siniva">
  
                    </tbody>
                </table>
             </div>
             <div id="grafico2" style="width: 670px; margin-top: 2em;"></div>
            </article>
          </div>
        </div>

			</article>

			<article id="tab3">
				<h3>Movimientos de NIT</h3>
        <div id="form-param">
          <form>
            {% csrf_token %}
            <div class="container-date">
              <div>
                <h6>Fecha a buscar:</h6>
                <input type="date" id="movf">
              </div>
            </div>
          </form>
          <div class="container-button">
            <button class="btn btn-primary" id="buscar" onclick="movimientos()"><span class="fa fa-search"></span> Buscar</button>
            <button class="btn btn-primary" id="pdf2" onclick="exportarpdf2()"><span class="fa fa-file-download"></span> PDF</button>
          </div>
        </div>
        <div id="contenedorpdf2">

          <div id="main-container">
            <table>
                <thead>
                    <tr>
                        <th style="border-top-left-radius: 20px;">Fecha</th>
                        <th>Nit</th>
                        <th>IVA Emitido</th>
                        <th style="border-top-right-radius: 20px;">IVA Recibido</th>
                    </tr>
                </thead>
                <tbody id="Movimientos">
  
                </tbody>
            </table>
         </div>

         <div id="ultima" style="width: 810px; margin-top: 2em;"></div>
         
        </div> 
        </div>
			</article>
		</div>
	</div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/979dc89a18.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="..\static\js\peticion.js"></script>
    <script src="..\static\js\peticion-table.js"></script>
    <script src="..\static\js\range_date.js"></script>
    <script src="..\static\js\movimientos.js"></script>
    <script src="..\static\js\pdf1.js"></script>
</body>
</html>