<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style-peticiones.css">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Peticiones</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
          <img src="..\static\images\LOGOSAT.png" alt="logo" class="img-logo">
          <ul class="nav-menu" >
            <li class="nav-menu-item">
                <a href="/" class="nav-menu-link nav-link">Inicio</a>
              </li>
            <li class="nav-menu-item">
              <a href="peticiones" class="nav-menu-link nav-link">Peticiones</a>
            </li>
            <li>
                <div class="dropdown show" id="menu-des">
                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Ayuda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" id="menu-item">Documentación</a>
                      <a class="dropdown-item" href="#" id="menu-item">Contacto</a>
                    </div>
                </div>
            </li>
          </ul>
        </nav>
      </header>




    <div class="wrap">
		<ul class="tabs">
			<li><a href="#tab1"><span class="fa fa-table"></span><span class="tab-text">Consultar Datos</span></a></li>
			<li><a href="#tab2"><span class="fa fa-calendar-day"></span><span class="tab-text">Rango de Fechas</span></a></li>
			<li><a href="#tab3"><span class="fa fa-calendar-alt"></span><span class="tab-text">Fecha y Nit</span></a></li>
		</ul>

		<div class="secciones">
			<article id="tab1">
				<h2>Autorizaciones</h2>
				<div id="main-container">
                    <table>
                        <thead>
                            <tr>
                                <th style="border-top-left-radius: 20px;">Fecha</th>
                                <th>Ref</th>
                                <th>Nit Emisor</th>
                                <th>Nit Receptor</th>
                                <th>Valor</th>
                                <th>IVA</th>
                                <th>Total</th>
                                <th style="border-top-right-radius: 20px;">No. Aprobacion</th>
                            </tr>
                        </thead>
                        
                        {% if data.MENSAJE == "No hay autorizaciones disponibles" %}
                            <tr><td colspan="8">{{ data.ENTRADA }}</td></tr>
                        {% else %}
                          {% for c in data%}
                            <tr>
                                <td>{{c.FECHA}}</td>
                                <td>{{c.REF}}</td>
                                <td>{{c.EMISOR}}</td>
                                <td>{{c.RECEPTOR}}</td>
                                <td>{{c.VALOR}}</td>
                                <td>{{c.IVA}}</td>
                                <td>{{c.TOTAL}}</td>
                                <td>{{c.CODIGO}}</td>
                            </tr>
                          {% endfor %}
                        {% endif %}    
                    </table>
                </div>
			</article>
			<article id="tab2">
				<h1>Nosotros</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptates unde, consequuntur aliquid architecto rem numquam expedita minima dolorem pariatur recusandae, eius quod quia aspernatur id impedit, tenetur! Aspernatur incidunt molestiae dolores animi ea praesentium ipsam tenetur voluptas cupiditate perspiciatis eum nihil, natus exercitationem libero earum fuga dignissimos impedit numquam, quasi, placeat officiis voluptates, ad reprehenderit fugiat? Fugiat aperiam et magni, molestiae, numquam consectetur vitae sapiente cupiditate totam laboriosam voluptate obcaecati, aliquam placeat? Suscipit dolores fuga laudantium sed, qui magni iusto dolore quia. Quis fugit exercitationem porro. Rerum nihil omnis recusandae ratione fuga alias eligendi, earum sunt veritatis praesentium eum perspiciatis. Molestias deserunt, iure neque animi quod! Impedit reprehenderit cumque, numquam velit quae cum eius quidem similique laudantium hic deleniti!</p>
			</article>
			<article id="tab3">
				<h1>Servicios</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea numquam odio voluptate. Aliquam incidunt similique, et quasi ducimus quos aut autem non dignissimos dicta sit provident, voluptatibus ut blanditiis perspiciatis cum, vel temporibus minima enim. Asperiores omnis placeat officiis a tenetur sit recusandae, reprehenderit neque. Tempora quibusdam, perferendis id ratione culpa dolorum! Nemo, animi?</p><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dignissimos at esse, ipsum rerum assumenda nisi obcaecati! Aliquam iure voluptatem incidunt, explicabo sit labore, perferendis eius ad vel quia. Praesentium, doloribus. Quisquam provident nostrum totam itaque debitis, minima, tempore dolores!</p>
			</article>
		</div>
	</div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/979dc89a18.js" crossorigin="anonymous"></script>
    <script src="..\static\js\peticion.js"></script>
</body>
</html>